<h2>This is the home page!</h2>

Explore the lists..

<br />
<br />
<% @lists.each do |list| %>
  <li>
    <%= link_to list.list_name, list %>
    <%= button_to 'Edit List', edit_list_path(list), method: :get %>
    <%= button_to 'Delete List', list_path(list), method: :delete %>
  </li>
<% end %>

<br />
<br />

<%= link_to 'Create New List!', new_list_path %>